<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/style.css">
<script src="__PUBLIC__/Admin/js/jquery.js"></script>
</head>
<body>

<section class=" content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">添加团队</h2>
      </div>
      <ul class="ulColumn2">
       <li>
        <span class="item_name" style="width:120px;">团队名称：</span>
        <input type="tel" class="textbox textbox_225" oninput="nameInput()" id="name" value="" placeholder="2~20个字符"/>
        <span class="errorTips" id="namepro">*</span>
       </li>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" id="save" value="更新/保存"/>
       </li>
      </ul>
 </div>
</section>
<script language="javascript" type="text/javascript"  src="__PUBLIC__/Admin/js/team/addTeam.js"></script>
</body>
</html>
